{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="content">
    <section class="landing-head">
        <div class="title">
            <h1>Welcome 📚</h1>
        </div>
        <br>
        <h2>Simple TM®</h2>
    </section>

    <div class="landingContent">

        <div class="side1">
            <div class="landing-conteiner-btn">
    
                <a href="signin">
                    <button class="landing-btn">
                        Create account
                    </button>
                </a>
            </div>
            <h1>Create a task</h1>
            <p>Welcome to our task management app!</p>

            <p>Are you tired of feeling overwhelmed by your to-do list? Our app is here to help! We provide a simple and
                intuitive platform for managing your tasks and staying on top of your schedule.</p>

            <p> With our app, you can easily create and organize your tasks, assign due dates and priorities, and set
                reminders to help you stay on track. You can also collaborate with others and delegate tasks to team
                members, making it easier to work together and get things done.</p>

            <p> Our app is designed to be user-friendly and accessible, with a clean and modern interface that makes it
                easy to navigate and use. Whether you're a busy professional, a student, or just someone who wants to
                stay organized, our app is the perfect solution for managing your tasks and staying on top of your busy
                schedule.</p>

            <p> So why wait? Sign up for our app today and start managing your tasks like a pro!</p>
        </div>


        <div class="side2">
            <h1>keep it simple</h1>


            <p>Our task management app is designed to be incredibly easy and intuitive to use. </p>
            <p>With a user-friendly interface and simple, straightforward features, you'll be up and running in no time.
            </p>

            <p>Whether you're new to task management apps or you've tried others in the past, you'll find that our app
                is a breeze to use. </p>
            <p> From creating new tasks to assigning due dates and priorities, everything is straightforward and easy to
                understand.</p>

            <p>Our app is also highly customizable, so you can adjust the settings and preferences to suit your specific
                needs and workflow. </p>
            <p> And with our helpful tutorials and guides, you'll have all the resources you need to get started and
                make the most of our app.</p>

                <div class="landing-conteiner-btn">
    
                    <a href="task/create">
                        <button class="landing-btn">
                            Create a task
                        </button>
                    </a>
                </div>

        </div>
    </div>
    {% endblock %}